body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(20, 30px);
    grid-template-rows: repeat(15, 30px);
    gap: 1px;
    border: 1px solid black;
}

.node {
    width: 30px;
    height: 30px;
    background-color: white;
    border: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    cursor: pointer;
}

.start-node {
    background-color: red;
}

.end-node {
    background-color: green;
}

.wall-node {
    background-color: black;
}

.shortest-path-node {
    background-color: blue;
}

#start-btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  #reset-btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

